{# À ajouter dans ton menu de navigation (base.html.twig ou _navbar.html.twig) #}

<li class="nav-item">
    <a class="nav-link" href="{{ path('serie_home') }}">
        <i class="bi bi-house"></i> Accueil
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{ path('browse_index') }}">
        <i class="bi bi-compass"></i> Découvrir
    </a>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
        <i class="bi bi-collection"></i> Séries
    </a>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="{{ path('serie_liste') }}">
                <i class="bi bi-list"></i> Ma collection
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="{{ path('browse_trending') }}">
                <i class="bi bi-fire"></i> Tendances
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="{{ path('browse_popular') }}">
                <i class="bi bi-graph-up"></i> Populaires
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="{{ path('browse_top_rated') }}">
                <i class="bi bi-star"></i> Meilleures notes
            </a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
            <a class="dropdown-item" href="{{ path('browse_search') }}">
                <i class="bi bi-search"></i> Rechercher
            </a>
        </li>
    </ul>
</li>

{% if is_granted('ROLE_ADMIN') %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('api_search') }}">
            <i class="bi bi-cloud-download"></i> Importer
        </a>
    </li>
{% endif %}