<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}NiortFlix!{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('images/logo.svg') }}">

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body class="d-flex flex-column">
<header>
    <div class="container">
        <h1 class="header-logo">
            <a href="{{ path('serie_home') }}" title="Go back to homepage">
                <img src="{{ asset('images/logo.svg') }}" id="logo" alt="logo" width="50px">
            </a>
            NiortFlix
        </h1>
        {% for status, message in app.flashes %}
            {% for message in message %}
                    <div class="alert alert-{{ status }}">{{ message }}</div>
                {% endfor %}
        {% endfor %}

        {% include('_navbar.html.twig') %}
    </div>
</header>

<main class="flex-grow-1">
    <div class="container">
        {% block body %} {% endblock %}
    </div>
    <footer>
        <div class="container">
            &copy; NiortFlix {{ "now"|date('Y') }}
        </div>
    </footer>
</main>
</body>
</html>
